RUST_LOG=info                      # Shows more detailed logs when set to debug
SFGAME_USERNAME=YOUR_USERNAME      # If you want to use Steam login, leave this as is
SFGAME_PASSWORD=YOUR_PASSWORD      # If you want to use Steam login, leave this as is
SFGAME_STEAM_LOGIN=false           # Set to true if you want to login with Steam
SFGAME_LEVEL_THRESHOLD=75          # Players with a level above this threshold will get skipped
SFGAME_DISCOVER_THRESHOLD=2        # Players with a number of undicovered items less than this number will get skipped
SFGAME_SEARCH_STRATEGY=simple      # simple = Search for players one at a time, prefetch = Search for players in batches of 30
SFGAME_SEARCH_DIRECTION=ascending  # ascending = Search index goes towards lower numbers, descending = Search index goes towards higher numbers